.page {
  position: relative; }

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #34495e;
  font-family: "Lalezar", cursive;
  font-size: 20px;
  z-index: 1000;
  padding: 0 150px 0 35px; }
  .nav-bar__list {
    list-style: none;
    display: flex;
    justify-content: space-around; }
  .nav-bar__item {
    padding: 20px;
    transition: all .2s; }
    .nav-bar__item--icon {
      display: flex;
      align-items: center;
      margin-right: auto; }
    .nav-bar__item:hover {
      background-color: #19b5fe; }
    .nav-bar__item:hover .nav-bar__link {
      transform: scale(1.2); }
  .nav-bar__link, .nav-bar__link:link, .nav-bar__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block; }
  .nav-bar__icon {
    height: 30px;
    width: 30px;
    fill: #fff; }

.main {
  padding: 150px 0;
  background-image: linear-gradient(to bottom, #c5eff7, #19b5fe); }

.content {
  width: 80%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  background-color: #fff;
  padding: 20px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Serif Pro', serif;
  margin-bottom: 100px; }
  .entry__description {
    margin-bottom: 20px; }
  .entry__map {
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 0; }
  .entry__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
  .entry__checkbox {
    opacity: 0; }
  .entry__container {
    height: 500px;
    width: 800px;
    margin-bottom: 20px;
    position: relative; }
  .entry__references {
    margin-top: 10px;
    list-style: none;
    border-top: solid 1px #34495e;
    width: 100%; }
    .entry__references__item {
      padding-top: 10px; }
    .entry__references__link:visited, .entry__references__link:link {
      color: black;
      font-family: 'Source Serif Pro', serif;
      font-size: 12px; }

.heading-primary {
  margin-bottom: 20px; }

.btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #34495e;
  border-radius: 20px;
  cursor: pointer; }
  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25); }

.flex_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%; }

.entry__filter {
  outline: none;
  background-color: #34495e;
  color: #fff;
  width: 200px;
  align-self: flex-start;
  text-align: center;
  text-decoration: none;
  padding: 5px 30px;
  cursor: pointer; }
  .entry__filter__box {
    display: flex;
    flex-direction: column; }

.entry__filter__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

.filter__choices {
  display: flex;
  flex-direction: column; }
