<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lalezar|Source+Serif+Pro&display=swap" rel="stylesheet">
        <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
        <link rel="stylesheet" href="../css/style.css">
        <title>World Statistics - Maps</title>

    </head>
    <body>
        <div class="page">
            <nav class="nav-bar">
                <ul class="nav-bar__list">
                    <li class="nav-bar__item--icon">
                        <svg class="nav-bar__icon">
                            <use xlink:href="../img/sprite.svg#icon-map"></use>
                        </svg>
                    </li>
                    <li class="nav-bar__item">
                        <a href="/" class="nav-bar__link">Maps</a>
                    </li>
                    <li class="nav-bar__item">
                        <a href="/cities" class="nav-bar__link">Cities</a>
                        <ul class="dropdown">
                            <li class="dropdown__item">
                                <a href="/cities/population" class="dropdown__link">Population</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/cities/migration" class="dropdown__link">Migration</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/cities/area" class="dropdown__link">Area</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-bar__item">
                        <a href="/countries" class="nav-bar__link" id="test">Countries</a>
                        <ul class="dropdown">
                            <li class="dropdown__item">
                                <a href="/countries/trade" class="dropdown__link">Exports</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/countries/population" class="dropdown__link">Population</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/countries/area" class="dropdown__link">Area</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-bar__item">
                        <a href="#" class="nav-bar__link">English</a>
                    </li>
                </ul>
            </nav>
            <main class="main" style="height: 100vh;">
                <div class="content">
                    <div class="entry" style="margin-bottom:0;">

                        <h1 class="heading-primary">Site under construction</h1>  
                        
                    </div>
                    
                </div>
            </main>
        </div>
        
    
        
    </body>
</html>